.role-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dropdown-label {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
 
  .roleButton {
    background-color: whitesmoke;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .list-container {
    margin-top: 1em;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1em;
    background-color: whitesmoke;
    
  }
  